@{
    // ViewData["Title"] = "Landing";
}



<div class="landing">

    <div class="landing_title">
        <h1>Nomie</h1>
        <h2>Your Health, Fully Tracked</h2>
    </div>
    
    <div class="landing_CTA">
        <a class="nav-link text-light landing_btn" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
        <a class="nav-link text-light landing_btn" asp-area="" asp-controller="Register" asp-action="Index">Register</a>
    </div>


</div>