@section Styles {
	<link rel="stylesheet" href="~/css/landing.css" />
}

<div class="landing">

	<div class="landing-title">
		<h1 id="landing-title">Nomie</h1>
		<h2 id="landing-subtitle">Your Health, Fully Tracked</h2>
	</div>

	<div class="landing-CTA">
		<a class="nav-link text-light landing-btn" asp-area="" asp-controller="Login" asp-action="Index">
			Login
			<i class="fa-solid fa-chevron-right"></i>
		</a>

		<a class="nav-link text-light landing-btn" asp-area="" asp-controller="Register" asp-action="Index">
			Register
			<i class="fa-solid fa-chevron-right"></i>
		</a>
	</div>


</div>

