@model HealthApp.Models.Users
@section Styles {
	<link rel="stylesheet" href="~/css/dashboard.css" />
}

@* 
<a asp-controller="Login" asp-action="Logout">
	<i class="fa-solid fa-chevron-left"></i>
</a>

<p><strong>User ID:</strong> @Model.UserID</p>
<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Email:</strong> @Model.Email</p>
 *@

<!-- JUST DO NON WORKING LAYOUT OBVIOUSLY... -->

<div class="dashboard">

	<div class="dashboard-nav">

		<div class="dashboard-nav-title-flex">
			<div class="dashboard-nav-title">
				<h1>Dashboard</h1>
			</div>
			<div class="dashboard-nav-subtitle">
				<h3>Hi Hassan</h3>
			</div>

		</div>

		<a asp-area="" asp-controller="Settings" asp-action="Index" class="profile-link">
			<div class="profile">
				<p id="profile-letter">H</p>
			</div>
		</a>
	</div>


	<div class="dashboard-calendar">

		<div class="calendar">
			<div class="calendar-week">
				<div class="calendar-circle">
					<p class="calendar-day">M</p>
				</div>
				<span class="calendar-indicator"></span>
			</div>

			<div class="calendar-week">
				<div class="calendar-circle">
					<p class="calendar-day">T</p>
				</div>
				<span class="calendar-indicator"></span>
			</div>

			<div class="calendar-week">
				<div class="calendar-circle">
					<p class="calendar-day">W</p>
				</div>
				<span class="calendar-indicator"></span>
			</div>

			<div class="calendar-week">
				<div class="calendar-circle">
					<p class="calendar-day">T</p>
				</div>
				<span class="calendar-indicator"></span>
			</div>

			<div class="calendar-week">
				<div class="calendar-circle">
					<p class="calendar-day">F</p>
				</div>
				<span class="calendar-indicator"></span>
			</div>

			<div class="calendar-week">
				<div class="calendar-circle">
					<p class="calendar-day">S</p>
				</div>
				<span class="calendar-indicator"></span>
			</div>

			<div class="calendar-week">
				<div class="calendar-circle">
					<p class="calendar-day">S</p>
				</div>
				<span class="calendar-indicator"></span>
			</div>
		</div>

		<div class="calendar-CTA">


			<a asp-area="" asp-controller="Dashboard" asp-action="Index" class="streaks-link">
				<p>Streaks</p>
				<i class="fa-solid fa-chevron-right"></i>
			</a>



		</div>


	</div>








	<div class="dashboard-content">

		<div class="content-title">Tracking</div>

		<div class="content">
			<div class="content-long-cards">

				<a asp-area="" asp-controller="Weight" asp-action="Index" class="card-link">
					<div class="long-card">
						<div class="long-card-left-content">
							<span class="long-card-indicator"></span>
							<div class="long-card-text">
								<h3 class="long-card-title">Weight</h3>
								<p class="long-card-subtitle">Current: </p>
								<p class="long-card-subtitle">Goal: </p>
							</div>
						</div>



						<div class="long-card-right-content">
							<div class="long-card-progress">
								<div class="progress-container">
									<div class="progress-bar" style="width: 10%;"></div>
								</div>
							</div>

							<div class="long-card-chevron">
								<i class="fa-solid fa-chevron-right"></i>
							</div>
						</div>

					</div>
				</a>




				<a asp-area="" asp-controller="Calories" asp-action="Index" class="card-link">
					<div class="long-card">
						<div class="long-card-left-content">
							<span class="long-card-indicator"></span>
							<div class="long-card-text">
								<h3 class="long-card-title">Calories</h3>
								<p class="long-card-subtitle">700/2000cal</p>
							</div>
						</div>


						<div class="long-card-right-content">

							<div class="long-card-progress">
								<div class="progress-container">
									<div class="progress-bar" style="width: 70%;"></div>
								</div>
							</div>

							<div class="long-card-chevron">
								<i class="fa-solid fa-chevron-right"></i>
							</div>
						</div>
					</div>
				</a>





				<a asp-area="" asp-controller="Dashboard" asp-action="Index" class="card-link">
					<div class="long-card">
						<div class="long-card-left-content">
							<span class="long-card-indicator"></span>
							<div class="long-card-text">
								<h3 class="long-card-title">Hydration</h3>
								<p class="long-card-subtitle">3600/3500ml</p>
							</div>
						</div>


						<div class="long-card-right-content">

							<div class="long-card-progress">
								<div class="progress-container">
									<div class="progress-bar" style="width: 10%;"></div>
								</div>
							</div>

							<div class="long-card-chevron">
								<i class="fa-solid fa-chevron-right"></i>
							</div>
						</div>
					</div>
				</a>




			</div>


			<div class="content-tall-cards">



				<div class="tall-card">
					<div class="tall-card-title">Biometrics</div>
					<div class="tall-card-subtitle">BMI: 24.5</div>
					<div class="tall-card-subtitle">Your Healthy</div>

					<div class="bmi-slider">
						<div class="bmi-slider-thumb"></div>

						<div class="bmi-slider-track">
						</div>
					</div>

					<div class="tall-card-subtitle">Age: 22</div>
					<div class="tall-card-subtitle">Height: 150cm</div>
					<div class="tall-card-subtitle">Weight: 64kg</div>
				</div>

				<a asp-area="" asp-controller="Dashboard" asp-action="Index" class="card-link">

					<div class="tall-card">
						<div class="tall-card-title" id="journal-title">Your Journal</div>
						<div class="tall-card-subtitle">Track your reflections and notes throughout your health journey.</div>
						<div class="tall-card-chevron">
							<i class="fa-solid fa-chevron-right"></i>
						</div>
					</div>
				</a>
		

			</div>


		</div>
	</div>






	<div class="dashboard-CTA">
		<a asp-controller="CheckIn" asp-action="Index" class="nomie-btn">Check In</a>
	</div>

</div>
