@model HealthApp.Models.Users



@{
    ViewData["Title"] = "Dashboard";
}


<a asp-controller="Login" asp-action="Logout">
	<i class="fa-solid fa-chevron-left"></i>
</a>


<h1>@ViewData["Title"]</h1>


<p><strong>User ID:</strong> @Model.UserID</p>
<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Email:</strong> @Model.Email</p>


