@import "typography.css";
@import "buttons.css";


* {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Overpass';
}


body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Overpass';
}
