@import "fonts.css";
@import "buttons.css";
@import "typography.css";


* {
    color: #ffffff;
    font-family: 'Overpass';
}


body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Overpass';
}

.base_main {
    height: 100vh;
}