/* DESKTOP VIEW */

#landing_title {
    font-size: 2.4rem;
    font-weight: 700;
}

#landing_subtitle {
    font-size: 1.4rem;
    font-weight: 300;
}

.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 6rem;
}

.landing_title {
    width: 35%;
    display: flex;
    flex-direction: column;
}

.landing_CTA {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.landing_btn {
    font-size: 1.8rem;
    background-color: #49BDF8;
    border-radius: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 35%;
    padding: 1.3rem 3rem;
    align-items: center;
}

/* TABLET VIEW */
/* 1400px width */

@media only screen and (max-width: 1400px) {

    #landing_title {
        font-size: 2.2rem;
        font-weight: 700;
    }

    #landing_subtitle {
        font-size: 1.4rem;
        font-weight: 300;
    }

    .landing_btn {
        width: 100%;
        font-size: 1.5rem;
    }

    .landing {
        padding: 4rem 2rem;
        justify-content: space-between;
        align-items: normal;
    }

    .landing_title {
        padding-top: 2rem;
        width: 100%;
    }

    .landing_CTA {
        gap: 1rem;
        width: 100%;
    }

}


/* MOBILE/APP VIEW */
/* 900? */

@media only screen and (max-width: 770px) {

    #landing_title {
        font-size: 2.2rem;
        font-weight: 700;
    }

    #landing_subtitle {
        font-size: 1.4rem;
        font-weight: 300;
    }

    .landing_btn {
        width: 100%;
        font-size: 1.5rem;
    }

    .landing {
        padding: 4rem 2rem;
        justify-content: space-between;
        align-items: normal;
    }

    .landing_title {
        padding-top: 2rem;
        width: 100%;
    }

    .landing_CTA {
        gap: 1rem;
        width: 100%;
    }
}
