.onboarding {
    padding: 4rem 2rem;
    height: 100%;
}

.welcome {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.welcome-message {
    padding-top: 2rem;
}

    .welcome-message > h3 {
        font-size: 1.15rem;
        font-weight: 250;
    }


/* AGE */

.age {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.age-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.age-input {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    font-size: 1.1rem;
}

    .age-input > label {
        font-size: 1.15rem;
    }

.age-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}



/* GENDER */

.gender {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.gender-form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

.gender-input {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    font-size: 1.1rem;
    gap: 1.1rem;
}


    .gender-input > label {
        font-size: 1.15rem;
    }


.gender-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.gender-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.15rem;
    color: white;
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

    .custom-radio input[type="radio"] {
        display: none;
    }

.radio-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 6px solid white;
    background-color: #bdbdbd;
    margin-right: 10px;
    transition: all 0.3s ease;
}

.custom-radio input[type="radio"]:checked + .radio-circle {
    background-color: #ffffff;
    border-color: #49BDF8;
}

.error-message {
    color: #ff6b6b;
    font-size: 1.5rem;
    margin-top: 1rem;
}


/* HEIGHT */

.height {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.height-form {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.height-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.height-input {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 8rem;
    font-size: 1.1rem;
    gap: 1.1rem;
}

    .height-input > label {
        font-size: 1.15rem;
    }


#height-question {
    padding-bottom: 2rem;
}

#height-value {
    font-size: 1rem;
    text-align: center;
}

/* CURRENT WEIGHT */

#current-weight-tip {
    font-size: 0.7rem;
    color: #868686;
    padding-bottom: 2rem;
}

.weight-question {
    padding-bottom: 0rem;
}

.current-weight {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.current-weight-form {
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.current-weight-submit {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.current-weight-input {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 8rem;
    font-size: 1.1rem;
    gap: 1.1rem;
}

    .current-weight-input > label {
        font-size: 1.15rem;
    }


#current-weight-question {
    padding-bottom: 2rem;
}

#current-weight-value {
    font-size: 1rem;
    text-align: center;
}