@model HealthApp.ViewModels.Onboarding.Walkthrough3ViewModel
@section Styles {
	<link rel="stylesheet" href="~/css/onboarding.css" />
}




<div class="onboarding">

	<div class="onboarding-top-section">

		<div class="onboarding-back">
			<a asp-controller="Onboarding" asp-action="OnboardingWaterIntake">
				<i class="fa-solid fa-chevron-left"></i>
			</a>
		</div>


		<div class="progress-container">
			<div class="progress-bar" style="width: 70%;"></div>
		</div>

		<div>
		</div>
	</div>

	<div class="hydration">



		<div class="hydration-summary">


			<h2 id="hydration-title">Hydration Summary</h2>

			<div class="hydration-subtitle">
				@Model.HydrationFeedback
			</div>


			<div class="hydration-table">
				<div class="hydration-row">
					<p>Your recommended hydration</p>
					<p id ="hydration-border">@Model.RecommendedMl mL</p>
				</div>

				<div class="hydration-row">
					<p>Your actual intake</p>
					<p id="hydration-border">@Model.ActualIntakeMl mL</p>
				</div>

				<div class="hydration-row">
					<p>Typical water loss per day</p>
					<p id="hydration-border">@Model.TypicalLossMl mL</p>
				</div>
			</div>


		</div>


		<form asp-action="OnboardingWalkthrough2" method="get">


			<button type="submit" class="nomie-btn">
				Continue
			</button>
		</form>


	</div>
</div>


