@model HealthApp.ViewModels.Onboarding.OnboardingActivityLevelViewModel
@section Styles {
	<link rel="stylesheet" href="~/css/onboarding.css" />
}




<div class="onboarding">

	<div class="onboarding-top-section">

		<div class="onboarding-back">
			<a asp-controller="Onboarding" asp-action="OnboardingGoalWeight">
				<i class="fa-solid fa-chevron-left"></i>
			</a>
		</div>


		<div class="progress-container">
			<div class="progress-bar" style="width: 60%;"></div>
		</div>

		<div>
		</div>
	</div>


	<div class="activity-level">


		<form asp-action="OnboardingActivityLevel" method="post" class="activity-level-form">


			<div class="activity-level-input">

				<label for="activitySlider" id="activity-level-question">How active are you daily?</label>

				<div class="activity-level-bars">
					<div class="activity-level-bar" id="bar1"></div>
					<div class="activity-level-bar" id="bar2"></div>
					<div class="activity-level-bar" id="bar3"></div>
					<div class="activity-level-bar" id="bar4"></div>
				</div>

				<input type="range" asp-for="Level" class="blue-slider styled-slider" min="1" max="4" step="1"
					   id="activitySlider"
					   oninput="updateActivityVisual(this.value)" />

				<div class="activity-label" id="activityLabel">Low</div>

				<span asp-validation-for="Level" class="text-danger"></span>
			</div>

			<div class="activity-level-submit">
				<button type="submit" class="nomie-btn">Continue</button>
			</div>

		</form>

	</div>
</div>


@* @section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

} *@


@section Scripts {
	<script>
		const labels = ["Low", "Occasional", "Moderate", "High"];
		const updateActivityVisual = (val) => {
			for (let i = 1; i <= 4; i++) {
				document.getElementById("bar" + i).style.backgroundColor = i <= val ? "#49BDF8" : "#ffff";
			}
			document.getElementById("activityLabel").innerText = labels[val - 1];
		};

		// Trigger visual state on page load (if editing)
		document.addEventListener("DOMContentLoaded", () => {
			const slider = document.getElementById("activitySlider");
			updateActivityVisual(slider.value);
		});
	</script>
}
