@model HealthApp.ViewModels.Onboarding.OnboardingHeightViewModel
@section Styles {
	<link rel="stylesheet" href="~/css/onboarding.css" />
}




<div class="onboarding">

	<div class="onboarding-top-section">

		<div class="onboarding-back">
			<a asp-controller="Onboarding" asp-action="OnboardingGender">
				<i class="fa-solid fa-chevron-left"></i>
			</a>
		</div>


		<div class="progress-container">
			<div class="progress-bar" style="width: 30%;"></div>
		</div>


		<div>
		</div>
	</div>


	<div class="height">




		<form asp-action="OnboardingHeight" method="post" class="height-form">


			<div class="height-input">

				<label for="heightRange" id="height-question">What is your height?</label>

				<input type="range" asp-for="HeightCm" class="blue-slider styled-slider"
					   id="heightRange" min="100" max="220" step="1"
					   oninput="document.getElementById('heightValue').innerText = this.value" />

				<label for="heightRange" id="height-value"><span id="heightValue">@Model.HeightCm</span>cm</label>

				<span asp-validation-for="HeightCm" class="text-danger"></span>
			</div>


			<div class="height-submit">
				<button type="submit" class="nomie-btn">Continue</button>
			</div>
		</form>

	</div>
</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

}

